
@css {    
    @import url(http://fonts.googleapis.com/css?family=Hammersmith+One|Droid+Sans+Mono|Varela+Round);
}

// ************************************



brot = #AA0000
rot = #880000
drot = #660000
base = #444444
rain = #AAA
air = #EEE



// ************************************
body
    font-family Verdana, "LiHei Pro", "微軟正黑體", Helvetica, Verdana, "新細明體", sans-serif
    color base

h2
    height 160px
    font-size 240%
    font-family 'Hammersmith One'
    line-height 200px

a
    color rot
    text-decoration none

pre
    padding 10px
    border-left 4px solid rain
    background air
    font-family 'Droid Sans Mono'

.inline
    font-family 'Droid Sans Mono'

// ************************************


header
    position fixed
    top 0
    width 100%
    background white
    box-shadow rgba(100, 100, 100, 0.5) 0 0 10px 0
    
    font-family 'Hammersmith One'
    
    nav
        width 1000px
        height 40px
        margin 0 auto
        
        color rain
        
        text-align center
        ul
            overflow hidden
            
            li            
                float left
                height 40px
                padding 0 40px
                &:first-of-type
                    padding-left 0
                
                font-size 160%
                line-height 40px
                
                a
                    color inherit
                    
                &.selected
                a:hover
                    color base
                    
                h1
                    color desaturate(lighten(rot, 50%), 60%)
                    span
                        color rain
                        
                h1 a:hover 
                &.selected h1
                    color brot
                    span
                        color base
    
article
    width 1000px
    margin 0 auto
    
    section
        height 1000px
    
    
    
    

